<div class="about-container">
  <div class="about-content">
    <div class="avatar">
       <img src="assets/profile.jpeg" alt="Profile photo" />
    </div>

    <div class="about-info">
      <div class="name">{{ name }}</div>
      <div class="headline">{{ headline }}</div>

      <div class="about-text">
        <p *ngFor="let line of about">{{ line }}</p>
      </div>

      <div class="buttons">
        <button (click)="openSection('skills')">Skills</button>
        <button (click)="openSection('projects')">Projects</button>
        <button (click)="openSection('experience')">Experience</button>
        <button (click)="openSection('contact')">Contact</button>
      </div>
    </div>
  </div>
</div>
