<div class="app-background">
  <app-about></app-about>

  <app-skills-popup
    [visible]="showSkillsPopup"
    (closed)="showSkillsPopup = false">
  </app-skills-popup>

  <app-projects-popup
    *ngIf="showProjectsPopup"
    (closed)="showProjectsPopup = false">
  </app-projects-popup>

  <app-experience-popup
  *ngIf="showExperiencePopup"
  (closed)="showExperiencePopup = false">
  </app-experience-popup>

  <app-contact-popup
  *ngIf="showContactPopup"
  (closed)="showContactPopup = false">
  </app-contact-popup>

</div>
